# Игнорировать node_modules (папка зависимостей)
node_modules/

# Игнорировать кешированные файлы
.cache/

# Игнорировать файлы временной сборки, если они присутствуют
dist/

# Игнорировать файлы, сгенерированные IDE (например, файлы настроек VS Code)
.vscode/
.idea/

# Игнорировать системные файлы, такие как файлы Windows или macOS
Thumbs.db
.DS_Store
